body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/401/677/non_2x/abstract-polygonal-shape-black-background-free-vector.jpg);
    align-items: center;

}
img{
    margin-left: 70px;
}
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 246, 246, 0.983);
}

.question-container {
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#options {
    list-style: none;
    padding: 0;
    margin: 0;
}

#options li {
    margin-bottom: 10px;
}

#options input[type="radio"] {
    margin-right: 10px;
}

#submit-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #3e8e41;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}