* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: black;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input, select, textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #007BFF;
}

button {
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 5px;
}

button:hover {
    background: #0056b3;
}

.prevBtn {
    background: #6c757d;
}

.prevBtn:hover {
    background: #5a6268;
}